* {
    margin: 0;
    padding: 0;
}

.site {
    height: 100vh;
    width: 100vw;
    background-color: #FAF9F6;
    font-family: pathway extreme;
    color: #24292e;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    padding: 20px;
    font-size: 2rem;
    border-bottom: 5px solid #24292e;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7rem;
}

.main-container {
    width: 75rem;
    height: 30rem;
    border-top: 3px solid #24292e;
    border-left: 3px solid #24292e;
    border-right: 6px solid #24292e;
    border-bottom: 6px solid #24292e;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#show-form {
    border-top: 3px solid #24292e;
    border-left: 3px solid #24292e;
    border-right: 6px solid #24292e;
    border-bottom: 6px solid #24292e;
    font-size: larger;
    border-radius: 10px;
    font-family: pathway extreme;
    grid-column: 4/4;
}

#show-form:active {
    background-color: #0a79e8;
    border-top: 3px solid #24292e;
    border-left: 3px solid #24292e;
    border-right: 6px solid #24292e;
    border-bottom: 6px solid #24292e;
    border-radius: 10px;
    color: #FAF9F6;
}

.pop-up {
    border-top: 3px solid #24292e;
    border-left: 3px solid #24292e;
    border-right: 6px solid #24292e;
    border-bottom: 6px solid #24292e;
    border-radius: 8px;
    padding: 20px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: #FAF9F6;

    position: absolute;
    top: -150%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%)scale(1.25);
    transition: top 0ms ease-in-out 200ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.pop-up.active {
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 200ms ease-in-out 0ms;
}

.pop-text {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input {
    height: 2rem;
    width: 75%;
    border-top: 1px solid #24292e;
    border-left: 1px solid #24292e;
    border-right: 4px solid #24292e;
    border-bottom: 4px solid #24292e;
    border-radius: 7px;

}

.form-submit {
    border-top: 3px solid #24292e;
    border-left: 3px solid #24292e;
    border-right: 6px solid #24292e;
    border-bottom: 6px solid #24292e;
    width: 25rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #24292e;
}

.form-submit:active {
    background-color: #0a79e8;
    color: #FAF9F6;
}

.book-container {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}